/* atomic */

/* for links in p  */
.link{
  color: var(--pink_700);
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 500;
}
/* for strongs in p */
.strong{
  color: var(--gray_900);
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 600;
}
/* ------------------------Article elements------------------------ */

.art-h1{
  margin-bottom: 32px;
  color: var(--gray_900);
  font-family: var(--mont)
}

.art-h2{
  margin-top: 56px;
  margin-bottom: 24px;
  font-family: var(--mont)
}

.art-h3{
  margin-top: 32px;
  margin-bottom: 12px;
  font-family: var(--mont)
}

.p{
  margin: 24px 0;
}

.li{
  margin: 1rem 0;
  color: var(--gray_700)
}

.blockquote{
  margin: 24px 0;
  border-left: 4px solid var(--pink_400);
  background: #FAFAF9;
  line-height: 32px;
  font-style: italic;
  margin: 24px 0;
  padding-left: 22px;
}


.image{
  margin: 32px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.image figcaption {
  color: var(--gray_500);
  font-weight: 400;
  margin-top: 1rem;
}
/* ------------------------End Article elements------------------------ */


/* ------------------------button------------------------ */

.btn{
  border: none;
  cursor: pointer;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  text-decoration: none;
  font-family: var(--inter);
  font-size: 1em;
  line-height: 1em;
  font-weight: 500;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* btn size */

.btn-sm{
  font-size: 0.875em;
  padding: 0.5em 0.75em;
}
.btn-lg{
  font-size: 1em;
  padding: 0.875em 1.5em;
}
.btn-full{
  font-size: 1.125em;
  padding: 0.75em auto;
  width: 100%;
}



/* color default */
.btn-default{
  color: var(--gray_900);
  background-color: var(--gray_200);
  transition: .25s;
}
.btn-default:hover{
  background-color: var(--gray_300);
}
.btn-default:active{
  background-color: var(--gray_400);
}
.btn-default:focus{
  background-color: var(--gray_200);
  outline: 2px solid var(--gray_400);
  outline-offset: 2px;
}
.btn-default:disabled{
  background-color: var(--gray_200);
  cursor: default;
  opacity: 60%;
}

/* color primary */
.btn-primary{
  color: var(--white);
  background-color: var(--pink_600);
  transition: .25s;
}
.btn-primary:hover{
  background-color: var(--pink_700);
}
.btn-primary:active{
  background-color: var(--pink_800);
}
.btn-primary:focus{
  background-color: var(--pink_600);
  outline: 2px solid var(--pink_800);
  outline-offset: 2px;
}
.btn-primary:disabled{
  background-color: var(--pink_600);
  cursor: default;
  opacity: 60%;
}
/* color secondary */
.btn-secondary{
  color: var(--white);
  background-color: var(--stone_500);
  transition: .25s;
}
.btn-secondary:hover{
  background-color: var(--stone_600);
}
.btn-secondary:active{
  background-color: var(--stone_800);
}
.btn-secondary:focus{
  background-color: var(--stone_500);
  outline: 2px solid var(--stone_800);
  outline-offset: 2px;
}
.btn-secondary:disabled{
  background-color: var(--stone_500);
  cursor: default;
  opacity: 60%;
}
/* ------------------------ end button------------------------ */
/* ------------------------------header------------------------------ */

header{
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  background: var(--gray_100);
}
header div {
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
nav .nav-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;

}

nav .nav-container li > a {
  padding: 0.25rem 0.5rem;
  color: var(--pink_600);
  text-decoration: none;
  font-weight: 500;
  text-transform: capitalize;
}

nav .nav-container li > a:hover {
  background-color: var(--pink_50);
}
nav .nav-container li > a:focus{
  outline: 2px solid var(--pink_800);
  outline-offset: 2px;
}

@media (max-width: 640px) {
  nav {
    justify-content: center;
    padding-top: 1rem;
    flex-direction: column;
  }
  nav .nav-container{
    justify-content: center;
    padding: 0;
  }
}
/* ------------------------------end header------------------------------ */
/* ------------------------------presentacion------------------------------ */

.presentacion{
  width: 100%;
}

.presentacion div{
  padding-top: 48px;
  padding-bottom: 48px;
}

.presentacion div h2{
  font-weight: 600;
  width: 100%;
}
.presentacion div h2 span{
  color: var(--pink_600);
}
.presentacion div p{
  font-weight: 400;
  width: 100%;
  margin-top: 1rem;
}
/* ------------------------------ end presentacion------------------------------ */

/* ------------------------------larticle__card------------------------------ */


.larticle__body .larticle__card{
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* height: 258px; */
  /* border: 1px solid red; */
  padding: 0.5rem;
}
.larticle__body .larticle__card time{
  color: var(--gray_600);
  text-transform: uppercase;
}
.larticle__body .larticle__card p{
  color: var(--gray_900);
}

.larticle__body .larticle__card a{
  color: var(--pink_700);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  transition: 0.5s;
}
.larticle__body .larticle__card a:hover{
  color: var(--gray_700);
}

/* ------------------------------endlarticle__card------------------------------ */

/* ------------------------------skills__card------------------------------ */

.skills__cards{
  display: flex;
  gap: 19.2px;
  margin: 0 16px;
}
.skills__cards img{
  margin: 3.2px;
  width: 26px;
  height: 26px;
}
.skills__cards img:hover{
  filter: hue-rotate(30deg);
}



.skills__info p{
  margin-top: 12px;
  color: var(--gray_900);
}

/* ------------------------------endskills__card------------------------------ */

/* ------------------------------hobbies__card------------------------------ */

.hobbies__card img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.hobbies__card img:hover{
  transform: scale(1.05);
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.2));
}
.minipading{
  padding: 8px;
}
.hobbies__card p{
  margin-top: 10px;
  color: var(--gray_900);
  text-align: center;
}
/* ------------------------------endhobbies__card------------------------------ */

/* ------------------------------form inputs------------------------------ */
.contact__input > label{
  text-transform: uppercase;
  color: var(--gray_900);
  font-weight: 400;
  margin-bottom: 4px;
}

.form-input{
  /* margin-bottom: 32px; */
  border-radius: 0.375rem;
  border: 0.1rem solid var(--gray_700);
  width: 100%;
  height: 40px;
  transition: background-image 1s ease, border 0.1s ease-in;
  
}
.form-input:first-child{
  padding: 0.5rem 0.75rem;
}
.form-input::placeholder{
  font-size: 0.9rem;
  /* font-weight: 300; */
  line-height: 1.5rem;
  color: var(--gray_300);
}
.form-input:focus{
  border: 0px solid var(--pink_100);
  box-shadow: 0px 0px 26px -5px var(--pink_200);
  outline-offset: 0px;
  outline: none;
}
.form-input:invalid{
  border: 1px solid var(--red_500);
  box-shadow: 0px 0px 5px 0px var(--red_500);
  outline-offset: 0px;
  outline: none;
}
.form-input[type=email]{
  padding-left: 2.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--gray_900);
  background-position: 1rem center;
  background-repeat: no-repeat;
}

.form-input[type=text]{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--gray_900);
  background-position: 1rem center;
  background-repeat: no-repeat;
}
.form-icon[type=text] {
  background-image: url(/src/vector.svg);
  padding-left: 2.5rem;
}
.form-icon[type=text]:focus {
  background-image: url(/src/vectorhover.svg);
}
.form-iconcel[type=text] {
  background-image: url(/src/cel.svg);
  padding-left: 2.5rem;
}
.form-iconcel[type=text]:focus {
  background-image: url(/src/celhover.svg);
}
.form-iconemp[type=text] {
  background-image: url(/src/empresa.svg);
  padding-left: 2.5rem;
}
.form-iconemp[type=text]:focus {
  background-image: url(/src/empresahover.svg);
}
.form-icon[type=email] {
  background-image: url(/src/email.svg);
  padding-left: 2.5rem;
}
.form-icon[type=email]:focus {
  background-image: url(/src/emailhover.svg);
}
.contact__input select {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  border: 0.1rem solid var(--gray_700);
  width: 100%;
  height: 40px;
  transition: background-image 1s ease, border 0.1s ease-in;
}
.contact__input select:focus-within{
  border: 0px solid var(--pink_100);
  box-shadow: 0px 0px 26px -5px var(--pink_200);
  outline-offset: 0px;
  outline: none;
}
.contact__input select:invalid{
  border: 1px solid var(--red_500);
  box-shadow: 0px 0px 5px 0px var(--red_500);
  outline-offset: 0px;
  outline: none;
}
.contact__input select{
  background-color: white;
  background-image: url(/src/arr.svg);
  background-position: 96% 50% ;
  background-repeat: no-repeat;
  background-size: 10px;
  appearance: none;
}
.check{
  margin: 0.5rem 0;
}
.check h4{
  padding-left: 26px;
  color: var(--gray_400);
  font-weight: 400;
  white-space: nowrap;
} 
/* .check__box input[type="checkbox"]{
  appearance: none;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
} */
/* .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 1px solid var(--stone_700);
}
.check__box:hover input ~ .checkmark {
  background-color: #ccc;
}
.check__box input:checked ~ .checkmark {
  background-color: #2196F3;
}
.check__box{
display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.check__box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.check__box input:checked ~ .checkmark:after {
  display: block;
}
.check__box .checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

/* ------------------------------end form inputs------------------------------ */

/* ------------------------------footer------------------------------ */

footer {
  padding: 48px 0;
  background: var(--gray_600);
}
.footer{
  display: flex;
  flex-direction: column;
}
.footer h3 {
  color: var(--white);
  margin-bottom: 32px;
  text-align: center;
}
.footer button {
  margin: auto;
}