@import "reset.css";
@import "layout.css";
@import "components.css";
@import "typography.css";
@import "colors.css";


p {
  color: var(--gray_700);
}

section > p {
  margin: 24px 0;
}

.blockquote > p {
  margin-left: 18px;
}
.image > img {
  object-fit: fill;
  width: 100%;
}

footer{
  height: 68px;
  background: var(--stone_200);
  color: var(--gray_900);
}

.debug {
  border: 2px solid red;
}
svg path {
  fill: black;
}
img{
  color: black;
  fill: black;
}

/* ------------home------------ */
.home {
  width: 100vw;
}
.larticle{
  width: 100%;
  background: var(--gray_100);
  padding: 48px 0;
  margin-bottom: 1rem;
}
.larticle__header p{
  margin-top: 0.25rem;
  color: var(--gray_900);
}
.larticle__body{
  margin-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(328px, 1fr));
  gap: 2rem;
}
