.testeo{
  margin: 60px;
  width: 256px;
  height: 40px;
  border-radius: 6px;
}
/* .testeo::placeholder{
  padding-left: -10px;
}
.testeo[type=text]{
  padding-left: 20px;

} */

.testeo[type=text] {
  background-color: white;
  background-image: url(/src/Vector.svg);
  background-position: 20px center;
  background-repeat: no-repeat;
  padding-left: 40px;
}
.email{
  background-image: url(/src/Vector.svg);
}